/data
/database_east/
/unsupervised_line_segmentation/dataset/
/unsupervised_line_segmentation/my_way/s_histograms/
/zzz_map_work/
/line-seg_matlab/
/unsupervised_line_segmentation/my_way/data/
/unsupervised_line_segmentation/my_way/models/
/line_seg_matlab/
