/data
/database_east/
/unsupervised_line_segmentation/my_way/cutted_pages/
/unsupervised_line_segmentation/my_way/normalized/
/unsupervised_line_segmentation/my_way/whole_pages/
/unsupervised_line_segmentation/dataset/
/unsupervised_line_segmentation/my_way/s_histograms/
